<div class="header">
  <div class="logo">
    <h1>Game of Thrones</h1>
    <!--img src="../static/img/Logo_Game_of_Thrones.png" alt="Logo GOT" width="500" /--> <!--ADD imagem no ../static/ -->
  </div>
    <br><br>
    <div class="bloco">
      <h1></h1>
    </div>
  
    <div class="bloco botoes">
      <a href="/read" class="botao">Visualizar Personagens</a>
      <a href="/create" class="botao">Adicionar Personagem</a>
      <a href="/update/{{registro['id'] }}" class="botao">Atualizar personagem</a>
      <a href="/delete/{{registro['id'] }}" class="botao">Deletar personagem</a>
      
    </div>
  
    <br />
    <hr />
  </div>