<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/pages/read_all.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <br>
    <div class="bloco">
        <h2>Personagens</h2>
    </div>

    <div class="bloco">
        <table class="tabela">
            {% for registro in registros%}
            <td>
            <tr>
                <td>
                {{ registro["nome"] }}
                </td>
            <tr>

            <tr>   
                <td>
                <img src="{{ registro['imagem_url'] }}"alt="{{ registro['nome'] }}"/>
                </td>
            <tr>
                
            <tr>
                <td>
                  <a href="/read/{{registro['id'] }}" class="botao">Visualizar</a>
                </td>
            </tr>
            </td>

              {% endfor %}
        </table>
    </div>
</body>
</html>